playwright==1.41.0     # Движок для браузера
pydantic==2.5.3        # Для валидации данных (чтобы не было каши)
loguru==0.7.2          # Лучшая библиотека для красивых логов
pandas==2.1.4          # Для удобного экспорта в Excel/CSV
openpyxl==3.1.2        # Движок для сохранения в Excel